# redis_exporter
REDIS_URI=redis://redis:6379

# mongo_exporter
# for mongo v4*
# docker-compose exec -T mongo mongo -u mongo -p mongo123 admin --eval='db.getSiblingDB("admin").createUser({user: "mongodb_exporter2",pwd: "mongodb_exporter123",roles: [{ role: "clusterMonitor", db: "admin" },{ role: "read", db: "<InterestedDatabase>" }]})'
# for mongo v5*
# docker-compose exec -T mongo mongosh --authenticationDatabase admin --eval='db.getSiblingDB("admin").createUser({user: "mongodb_exporter",pwd: "mongodb_exporter123",roles: [{ role: "clusterMonitor", db: "admin" },{ role: "read", db: "<InterestedDatabase>" }]})'
MONGODB_URI=mongodb://mongodb_exporter2:mongodb_exporter123@mongo:27017

# postgres_exporter
POSTGRES_URI=postgresql://postgres:postgres123@postgres:5432/postgres?sslmode=disable

# rabbitmq_exporter
RABBIT_URI=http://rabbitmq:rabbitmq123@rabbitmq:15672
